@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: "Nunito Sans", sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Other */
  --radii: 0.5rem;

  /* colors */
  --grey: #ced4da;
  --purple: #6a43a9;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
